@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700;800;900&display=swap');



*, body, html {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}



.primary-gradient {
    background: rgb(25,118,210);
    background: -moz-linear-gradient(90deg, rgba(25,118,210,1) 0%, rgba(66,165,245,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(25,118,210,1) 0%, rgba(66,165,245,1) 100%);
    background: linear-gradient(90deg, rgba(25,118,210,1) 0%, rgba(66,165,245,1) 100%);
    filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr="#1976d2",endColorstr="#42a5f5",GradientType=1);
}

.accent-gradient {
    background: rgb(255,145,0);
    background: -moz-linear-gradient(90deg, rgba(255,145,0,1) 0%, rgba(255,171,64,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,145,0,1) 0%, rgba(255,171,64,1) 100%);
    background: linear-gradient(90deg, rgba(255,145,0,1) 0%, rgba(255,171,64,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9100",endColorstr="#ffab40",GradientType=1);
}
